/* SourceSansPro */
@font-face {
  font-family: 'SourceSansPro-Black';
  src: url("../../font/SourceSansPro/SourceSansPro-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-SemiBoldItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url("../../font/SourceSansPro/SourceSansPro-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../../font/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-LightItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../../font/SourceSansPro/SourceSansPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url("../../font/SourceSansPro/SourceSansPro-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-ExtraLightItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url("../../font/SourceSansPro/SourceSansPro-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-BoldItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../../font/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-BlackItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-BlackItalic.ttf") format("truetype"); }

/* PTSans */
@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url("../../font/PTSans/PT_Sans-Web-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'PT_Sans-Web-BoldItalic';
  src: url("../../font/PTSans/PT_Sans-Web-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'PT_Sans-Web-Italic';
  src: url("../../font/PTSans/PT_Sans-Web-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'PT_Sans-Web-Regular';
  src: url("../../font/PTSans/PT_Sans-Web-Regular.ttf") format("truetype"); }

/* Lato */
@font-face {
  font-family: 'Lato-Black';
  src: url("../../font/Lato/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url("../../font/Lato/Lato-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../../font/Lato/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url("../../font/Lato/Lato-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Hairline';
  src: url("../../font/Lato/Lato-Hairline.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url("../../font/Lato/Lato-HairlineItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Italic';
  src: url("../../font/Lato/Lato-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("../../font/Lato/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-LightItalic';
  src: url("../../font/Lato/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../../font/Lato/Lato-Regular.ttf") format("truetype"); }

.button {
  display: inline-block;
  padding: 8px 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'SourceSansPro-Black';
  text-align: center; }
  .button--primary {
    background-color: #637F83; }
    .button--primary:hover {
      background-color: #3D4E51; }
  .button--secondary {
    background-color: #E4551D; }
    .button--secondary:hover {
      background-color: #B13729; }
  .button--tertiary {
    background-color: #597276; }
    .button--tertiary:hover {
      background-color: #B5C7C9; }
  .button--lg {
    font-size: 18px;
    font-family: 'SourceSansPro-Bold'; }

.button-iconic {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat; }
  .button-iconic--facebook {
    background-image: url("../../Images/facebook.png"); }
  .button-iconic--linkedIn {
    background-image: url("../../Images/in.png"); }
  .button-iconic--google {
    background-image: url("../../Images/google-plus.png"); }
  .button-iconic--arrow-down {
    background-image: url("../../Images/arrow-down.png"); }

body {
  padding: 0;
  margin: 0;
  color: #637F83;
  font-family: 'SourceSansPro-Regular'; }

a {
  color: #637F83;
  text-decoration: none; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }

.logo {
  font-size: 42px;
  font-family: 'SourceSansPro-Bold'; }

.title {
  text-align: center;
  font-size: 36px;
  font-family: 'SourceSansPro-Bold'; }

.sub-title {
  text-align: center;
  font-size: 28px;
  font-family: 'SourceSansPro-Light'; }

.text {
  font-size: 16px;
  font-family: 'SourceSansPro-Regular'; }

.no-align {
  text-align: initial; }

.page__header {
  display: block;
  padding: 20px 0; }
  .page__header::after {
    content: '';
    display: block;
    clear: both; }

.header__logo {
  float: left; }

.header__navbar {
  float: right;
  margin: 5px 0 0;
  padding: 0;
  list-style: none; }

.header__link {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'SourceSansPro-Bold'; }
  .header__link:hover {
    color: #B13729; }
  .header__link--active {
    color: #E4551D;
    background: url("../../Images/menu-arrow.png") no-repeat;
    background-position: top center; }

.splash-screen {
  padding: 130px 0;
  background-image: url("../../Images/bcgrd.png");
  background-position: center;
  background-size: cover; }

.splash-screen__title {
  color: #FFF;
  font-size: 42px;
  font-family: 'PT_Sans-Web-Bold';
  text-decoration: underline;
  letter-spacing: 2px;
  white-space: pre-line; }

.splash-screen__text {
  color: #FFF;
  font-size: 17px;
  font-family: 'Lato-Regular';
  text-transform: uppercase;
  letter-spacing: 4px;
  white-space: pre-line;
  line-height: 30px; }

.splash-screen__arrow {
  margin-top: 40px;
  text-align: center; }

.categories__header {
  padding: 40px; }

.categories__content {
  background-color: #F6F6F6; }

.category {
  width: 25%;
  padding: 60px 0;
  border-right: 1px solid #CFCFCF;
  float: left;
  box-sizing: border-box; }
  .category:last-child {
    border: none; }

.categories__list::after {
  content: '';
  display: block;
  clear: both; }

.category__image {
  text-align: center; }

.category__title {
  padding: 25px 0; }
  .category__title--small {
    font-size: 26px; }

.category__text {
  padding: 0 35px;
  text-align: center; }
  .category__text--grey {
    color: #AFAEAE; }

.category__button {
  padding-top: 25px;
  text-align: center; }

.slider__content {
  padding-bottom: 60px;
  border-bottom: 1px solid #D9D9D9; }

.slider__header {
  padding: 40px; }

.slider__arrow, .slider__line {
  float: left; }

.slider__line--left {
  width: 46%;
  display: inline-block;
  margin-right: 20px; }

.slider__line--right {
  width: 46%;
  display: inline-block;
  margin-left: 20px; }

.slider__arrow--right {
  margin-left: 5px; }

.slider__arrow--left {
  margin-right: 5px; }

.line__img {
  width: 100%;
  padding-bottom: 5px; }

.slider__list {
  padding: 40px 0;
  width: 100%;
  display: table; }

.slider-list__item {
  display: table-cell;
  width: 25%;
  padding-right: 30px; }
  .slider-list__item:last-child {
    padding-right: 0; }

.slider__button {
  text-align: center; }

.portfolio-list {
  padding: 60px 0; }

.portfolio-list__body {
  display: table; }

.portfolios__item:first-child {
  padding-right: 30px; }

.portfolio {
  width: 50%;
  display: table-cell;
  padding-bottom: 30px; }

.portfolio__title--small {
  font-size: 26px; }

.portfolio__text--small {
  font-size: 14px;
  color: #AFAEAE;
  overflow: hidden;
  line-height: 25px; }

.portfolio__image {
  float: left;
  padding-top: 10px;
  padding-right: 30px;
  width: 100px; }

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px; }

.portfolio__title {
  padding-bottom: 10px; }

.portfolio__link {
  color: #E4551D;
  text-decoration: none; }
  .portfolio__link:hover {
    color: #B13729; }

.sign-up {
  background: #637F83; }

.sign-up__header {
  padding: 40px;
  border-bottom: 2px solid #597276; }

.sign-up__title, .sign-up__sub-title {
  color: #fff; }

.sign-up__content {
  display: table; }

.sign-up-wrapper:first-child {
  padding-right: 30px; }

.sign-up-wrapper {
  width: 50%;
  display: table-cell;
  padding: 40px 0 50px;
  vertical-align: top; }

.sign-up__introduction {
  margin-bottom: 30px; }

.introduction__title {
  color: #fff;
  font-size: 18px; }

.introduction__text {
  color: #fff;
  font-size: 14px; }

.introduction__img {
  float: left;
  padding-right: 20px; }

.sign-up__input {
  background-color: #597276;
  border: none;
  width: 80%;
  border-radius: 5px;
  line-height: 35px;
  margin-right: 10px; }

.sign-up__twit-message {
  background: #597276;
  padding: 25px;
  border-radius: 5px; }

.twit-message__image {
  float: left;
  padding-right: 25px;
  padding-top: 5px; }

.twit-message__text {
  overflow: hidden;
  color: #B5C7C9;
  font-size: 15px;
  line-height: 20px; }

.twit-message__login {
  text-decoration: underline;
  color: #fff; }

.follow {
  background: #fff; }

.follow__list {
  padding: 30px 0; }
  .follow__list::after {
    content: '';
    display: block;
    clear: both; }

.follow__item {
  width: 33.33333%;
  float: left; }

.follow__button {
  float: left;
  padding: 20px 20px 20px 0; }

.follow__text-content {
  padding: 30px; }

.follow__text {
  font-size: 14px;
  color: #AFAEAE; }

.follow__title {
  font-size: 18px; }

.page__footer {
  background: #637F83; }

.footer__copyright {
  padding: 35px;
  text-align: center; }

.footer__text {
  color: #fff;
  font-size: 14px; }

