/* SourceSansPro */
@font-face {
  font-family: 'SourceSansPro-Black';
  src: url("../../font/SourceSansPro/SourceSansPro-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-SemiBoldItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url("../../font/SourceSansPro/SourceSansPro-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../../font/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-LightItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../../font/SourceSansPro/SourceSansPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url("../../font/SourceSansPro/SourceSansPro-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-ExtraLightItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url("../../font/SourceSansPro/SourceSansPro-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-BoldItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../../font/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-BlackItalic';
  src: url("../../font/SourceSansPro/SourceSansPro-BlackItalic.ttf") format("truetype"); }

/* PTSans */
@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url("../../font/PTSans/PT_Sans-Web-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'PT_Sans-Web-BoldItalic';
  src: url("../../font/PTSans/PT_Sans-Web-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'PT_Sans-Web-Italic';
  src: url("../../font/PTSans/PT_Sans-Web-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'PT_Sans-Web-Regular';
  src: url("../../font/PTSans/PT_Sans-Web-Regular.ttf") format("truetype"); }

/* Lato */
@font-face {
  font-family: 'Lato-Black';
  src: url("../../font/Lato/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url("../../font/Lato/Lato-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../../font/Lato/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url("../../font/Lato/Lato-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Hairline';
  src: url("../../font/Lato/Lato-Hairline.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url("../../font/Lato/Lato-HairlineItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Italic';
  src: url("../../font/Lato/Lato-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("../../font/Lato/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-LightItalic';
  src: url("../../font/Lato/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../../font/Lato/Lato-Regular.ttf") format("truetype"); }

.button {
  display: inline-block;
  padding: 8px 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'SourceSansPro-Black';
  text-align: center; }
  .button--primary {
    background-color: #637F83; }
    .button--primary:hover {
      background-color: #3D4E51; }
  .button--secondary {
    background-color: #E4551D; }
    .button--secondary:hover {
      background-color: #B13729; }
  .button--tertiary {
    background-color: #597276; }
    .button--tertiary:hover {
      background-color: #B5C7C9; }
  .button--lg {
    font-size: 18px;
    font-family: 'SourceSansPro-Bold'; }

.button-iconic {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat; }
  .button-iconic--facebook {
    background-image: url("../../Images/facebook.png"); }
  .button-iconic--linkedIn {
    background-image: url("../../Images/in.png"); }
  .button-iconic--google {
    background-image: url("../../Images/google-plus.png"); }
  .button-iconic--arrow-down {
    background-image: url("../../Images/arrow-down.png"); }

@media (max-width: 1024px) {
  .button-iconic {
    width: 60px;
    height: 60px; } }

@media (max-width: 768px) {
  .button-iconic {
    width: 50px;
    height: 50px; } }

body {
  padding: 0;
  margin: 0;
  color: #637F83;
  font-family: 'SourceSansPro-Regular'; }

a {
  color: #637F83;
  text-decoration: none; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

.logo {
  font-size: 42px;
  font-family: 'SourceSansPro-Bold'; }

.title {
  text-align: center;
  font-size: 36px;
  font-family: 'SourceSansPro-Bold'; }

.sub-title {
  text-align: center;
  font-size: 28px;
  font-family: 'SourceSansPro-Light'; }

.text {
  font-size: 16px;
  font-family: 'SourceSansPro-Regular'; }

.no-align {
  text-align: initial; }

.clearfix {
  content: '';
  display: block;
  clear: both; }

@media (max-width: 1200px) {
  .container {
    width: 992px; }
  .title {
    font-size: 32px; }
  .sub-title {
    font-size: 24px; } }

@media (max-width: 1024px) {
  .container {
    width: 728px; }
  .title {
    font-size: 30px; }
  .sub-title {
    font-size: 22px; } }

@media (max-width: 768px) {
  .container {
    width: 100%; }
  .title {
    font-size: 26px; }
  .sub-title {
    font-size: 16px; } }

@media (max-width: 412px) {
  .title {
    font-size: 24px; }
  .sub-title {
    font-size: 14px; } }

.page__header {
  padding: 20px 0; }
  .page__header::after {
    content: '';
    display: block;
    clear: both; }

.header__logo {
  float: left; }

.header__navbar {
  float: right;
  margin: 5px 0 0;
  padding: 0;
  list-style: none; }

.header__link {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'SourceSansPro-Bold'; }
  .header__link:hover {
    color: #B13729; }
  .header__link--active {
    color: #E4551D;
    background: url("../../Images/menu-arrow.png") no-repeat;
    background-position: top center; }

@media (max-width: 1200px) {
  .page__header {
    padding: 15px 0; }
  .header__logo .logo {
    font-size: 36px; }
  .header__navbar .header__link {
    font-size: 16px;
    padding: 15px 20px; } }

@media (max-width: 1024px) {
  .page__header {
    padding: 10px 0; }
  .header__logo .logo {
    font-size: 28px; }
  .header__navbar {
    margin: 0; }
    .header__navbar .header__link {
      font-size: 14px;
      padding: 10px 15px; } }

@media (max-width: 768px) {
  .page__header {
    padding: 10px 0; }
  .header__logo .logo {
    font-size: 24px; }
  .header__navbar {
    margin: 0; }
    .header__navbar .header__link {
      font-size: 12px;
      padding: 10px; } }

@media (max-width: 412px) {
  .header__navbar {
    display: none; } }

.splash-screen {
  padding: 130px 0;
  background-image: url("../../Images/bcgrd.png");
  background-position: center;
  background-size: cover; }

.splash-screen__title {
  color: #FFF;
  font-size: 42px;
  font-family: 'PT_Sans-Web-Bold';
  text-decoration: underline;
  letter-spacing: 2px;
  white-space: pre-line; }

.splash-screen__text {
  color: #FFF;
  font-size: 17px;
  font-family: 'Lato-Regular';
  text-transform: uppercase;
  letter-spacing: 4px;
  white-space: pre-line;
  line-height: 30px; }

.splash-screen__arrow {
  margin-top: 40px;
  text-align: center; }

@media (max-width: 1200px) {
  .splash-screen {
    padding: 100px 0; } }

@media (max-width: 1024px) {
  .splash-screen {
    padding: 80px 0; }
  .splash-screen__title {
    font-size: 36px; }
  .splash-screen__text {
    font-size: 14px; } }

@media (max-width: 768px) {
  .splash-screen {
    padding: 60px 0; }
  .splash-screen__title {
    font-size: 32px; }
  .splash-screen__text {
    font-size: 13px;
    line-height: 20px; } }

@media (max-width: 412px) {
  .splash-screen {
    padding: 40px 0; }
  .splash-screen__title {
    font-size: 26px; }
  .splash-screen__text {
    font-size: 12px; } }

.categories__header {
  padding: 40px; }

.categories__content {
  background-color: #F6F6F6; }

.categories__list {
  display: table;
  width: 100%;
  text-align: center; }

.category {
  display: table-cell;
  padding: 60px 0;
  border-right: 1px solid #CFCFCF;
  box-sizing: border-box;
  vertical-align: top; }
  .category:last-child {
    border: none; }

.categories__list-item {
  width: 25%; }

.category__title {
  padding: 25px 0; }
  .category__title--small {
    font-size: 26px; }

.category__text {
  padding: 0 35px; }
  .category__text--grey {
    color: #AFAEAE; }

.category__button {
  padding-top: 25px; }

@media (max-width: 1200px) {
  .category__image img {
    width: 60px;
    height: 60px; }
  .category {
    padding: 40px; }
  .category__text {
    padding: 0; } }

@media (max-width: 1024px) {
  .category {
    padding: 40px 20px; }
  .category__image img {
    width: 40px;
    height: 40px; }
  .category__title--small {
    font-size: 20px; }
  .category__title {
    padding: 15px 0; } }

@media (max-width: 768px) {
  .categories__header {
    padding: 30px; }
  .category {
    display: inline-block;
    margin: 20px 0; }
    .category:nth-child(even) {
      border: none; }
  .categories__list-item {
    width: 50%; } }

@media (max-width: 412px) {
  .categories__header {
    padding: 20px; }
  .categories__list {
    display: block; }
  .category {
    display: block;
    border: none;
    margin: 0; }
  .categories__list-item {
    width: 100%; } }

.slider__content {
  padding-bottom: 60px;
  border-bottom: 1px solid #D9D9D9; }

.slider__header {
  padding: 40px; }

.slider__nav {
  display: table;
  width: 100%; }

.slider__arrow, .slider__line {
  display: table-cell; }

.slider__arrow {
  width: 100px;
  text-align: center; }
  .slider__arrow a {
    margin: 0 5px; }

.slider__line hr {
  width: 100%; }

.slider__list {
  display: table;
  width: 100%;
  margin: 40px 0; }
  .slider__list--tablet {
    display: none; }
  .slider__list--mobile {
    display: none; }

.slider-list__item {
  display: table-cell;
  width: 25%;
  padding: 15px;
  /*&:last-child {
        padding-right: 0;
    }*/ }

.slider__button {
  text-align: center; }

.slider__image {
  width: 100%; }

@media (max-width: 1200px) {
  .slider-list__item {
    padding: 10px; } }

@media (max-width: 1024px) {
  .slider-list__item {
    padding: 5px; } }

@media (max-width: 768px) {
  .slider__header {
    padding: 30px 10px; }
  .slider__list--desktop {
    display: none; }
  .slider__list--tablet {
    display: table; }
  .slider-list__item {
    width: 50%;
    padding: 10px; } }

@media (max-width: 412px) {
  .slider__header {
    padding: 20px 0; }
  .slider__list--tablet {
    display: none; }
  .slider__list--mobile {
    display: block; }
  .slider-list__item {
    display: block;
    width: 100%;
    padding: 0; }
  .slider__content {
    padding-bottom: 45px; } }

.portfolio-list {
  padding: 60px 0; }

.portfolio-list__body {
  display: table; }

.portfolios__item:first-child {
  padding-right: 30px; }

.portfolio {
  display: table-cell;
  width: 50%;
  padding-bottom: 30px;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 30px; }
  .portfolio:last-child {
    padding-right: 0; }

.portfolio__title--small {
  font-size: 26px; }

.portfolio__text--small {
  font-size: 14px;
  color: #AFAEAE;
  overflow: hidden;
  line-height: 25px; }

.portfolio__image {
  float: left;
  width: 100px;
  overflow: hidden;
  height: 100px;
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 6px; }

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px; }

.portfolio__title {
  padding-bottom: 10px; }

.portfolio__link {
  color: #E4551D;
  text-decoration: none;
  display: inline-block; }
  .portfolio__link:hover {
    color: #B13729; }

@media (max-width: 1024px) {
  .portfolio-list {
    padding: 50px 0 40px; }
  .portfolio__title--small {
    font-size: 22px; }
  .portfolio__text--small {
    overflow: initial; } }

@media (max-width: 768px) {
  .portfolio-list__body {
    display: block; }
  .portfolio {
    display: block;
    width: 100%;
    min-height: 120px;
    padding: 0;
    margin: 0 0 30px; } }

@media (max-width: 412px) {
  .portfolio-list {
    padding: 40px 0 30px; }
  .portfolio__title--small {
    font-size: 20px; }
  .portfolio__image {
    margin-right: 20px; } }

.sign-up {
  background: #637F83; }

.sign-up__container {
  padding-bottom: 50px; }

.sign-up__header {
  padding: 40px;
  border-bottom: 2px solid #597276; }

.sign-up__title, .sign-up__sub-title {
  color: #fff; }

.sign-up-wrapper:first-child {
  padding-right: 30px; }

.sign-up-wrapper {
  width: 50%;
  float: left;
  vertical-align: top;
  margin-top: 40px; }

.sign-up__introduction {
  margin-bottom: 30px; }

.introduction__title {
  color: #fff;
  font-size: 18px; }

.introduction__text {
  color: #fff;
  font-size: 14px; }

.introduction__img {
  float: left;
  padding-right: 20px; }

.sign-up__input {
  background-color: #597276;
  border: none;
  width: 100%;
  border-radius: 5px;
  line-height: 35px;
  margin-right: 100px; }

.sign-up__button {
  float: right; }

.sign-up__twit-message {
  background: #597276;
  padding: 25px;
  border-radius: 5px; }

.twit-message__image {
  float: left;
  padding-right: 25px;
  padding-top: 5px; }

.twit-message__text {
  overflow: hidden;
  color: #B5C7C9;
  font-size: 15px;
  line-height: 20px; }

.twit-message__login {
  text-decoration: underline;
  color: #fff; }

@media (max-width: 1024px) {
  .sign-up-wrapper {
    width: 100%;
    padding: 0;
    float: none; } }

@media (max-width: 768px) {
  .sign-up__header {
    padding: 30px 0; } }

@media (max-width: 412px) {
  .sign-up__header {
    padding: 20px 0; } }

.follow {
  padding: 30px 0;
  background: #fff; }

.follow__list::after {
  content: '';
  display: block;
  clear: both; }

.follow__item {
  width: 33.33333%;
  float: left; }

.follow__button {
  float: left;
  padding: 20px 20px 20px 0; }

.follow__text-content {
  padding: 30px; }

.follow__text {
  font-size: 14px;
  color: #AFAEAE; }

.follow__title {
  font-size: 18px; }

@media (max-width: 1024px) {
  .follow__item {
    text-align: center; }
  .follow__button {
    float: none;
    padding: 0;
    margin-bottom: 20px; }
  .follow__text-content {
    padding: 0 10px; }
  .follow__title {
    text-align: center; } }

@media (max-width: 768px) {
  .follow__button {
    margin: 10px; } }

@media (max-width: 412px) {
  .follow__item {
    float: none;
    width: 100%;
    margin-bottom: 30px; } }

.page__footer {
  background: #637F83; }

.footer__copyright {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center; }

.footer__text {
  color: #fff;
  font-size: 14px; }

